@import "tailwindcss";

html {
	scroll-behavior: smooth;
}

.cover_image {
	width: 400px;
	height: 400px;
	display: block;
}

.footer {
	position: bottom;
	bottom: 1%;
	text-align: center;
	width: 100%;
}
